body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 768px) {
  h2 {
    font-size: 72px;
   
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }
  

}

@media (min-width:768px){
  .mt-md-5{
    margin-top:5rem !important;
  }
}
@media (min-width:991px){
  .mt-lg-6{
    margin-top:6rem !important;
  }
}
@media (min-width:1200px){
  .mt-xl-6{
    margin-top:0rem !important;
  }
}
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
.hero-background{
background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, #1f2937 100%);
}

.hero-btn{
  background: rgb(6, 182, 212);
    background: linear-gradient(180deg, rgba(6, 182, 212, 1) 0%, rgba(59, 130, 246, 1) 100%);
}

.hover-social{
  margin-left: -130px;
}
.hover-social:hover{
  
  margin-left: -35px;
  transition:all 600ms ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about-background{
  background: rgb(31, 41, 55);
  background: linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.about-overflow{
overflow: scroll;
}

.about-overflow::-webkit-scrollbar {
  display: none;
}

.imggrid {
  width: 100%;
  height: 92%;
  object-fit: contain;
}

.zoom{
transition: transform .5s;
}

.zoom:hover{

  transform: scale(1.05);

}

.shadow-whitebox{
box-shadow: 5px 13px 12px -8px rgba(203, 203, 203, 0.75);
  -webkit-box-shadow: 5px 13px 12px -8px rgba(203, 203, 203, 0.75);
  -moz-box-shadow: 5px 13px 12px -8px rgba(203, 203, 203, 0.75);
}

.skillsborder{
  border: 2px solid #e58e26;
    border-radius: 5px;
}

textarea,input[type="text"],[type="email"]{
  background: transparent;
  /* border: none; */
  color: #ffffff;

}
textarea{
  max-height: 150px;
}
.rounded-tr{
  border: 2px solid none;
    /* padding: 10px; */
    border-top-right-radius: 10px;
}
.rounded-br{
  border: 2px solid none;
    /* padding: 10px; */
    border-bottom-right-radius: 10px;
}

.sig-font{
  font-family: 'Great Vibes', cursive;
}


.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*don't forget prefixes*/
  background-image: url("assets/imageprofile.jpg");
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
}

.hero-text {
  font-size: 2rem;
}
.photo-width{
  width: 30%;
}

@media (min-width:768px) {
  .hero-text {
    font-size: 3rem !important;
  }
  .photo-width{
  width: 70%;
  }
}
@media (min-width:992px) {
  .hero-text {
    font-size: 4rem !important;
  }
    .photo-width {
      width: 45%;
    }
}
@media (min-width: 1200px) {
  .hero-text {
    font-size: 5rem !important;
  }
    .photo-width {
      width: 30%;
    }
}